.container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    /* grid-template-rows: 1fr; */
    row-gap: 50px;
    column-gap: 50px;
}
.item{
    background-color: aqua;
    border: 1px solid black;
    padding: 20px;
}
.item1{
    background-color: aqua;
    border: 1px solid black;
    padding: 20px;
}